<div class="institutions-banner">
  <div class="">
    <h1></h1>
    <%= link_to "Create a Campaign", "#", class: "btn btn-primary" %>
  </div>
</div>
<div class="container mt-3">
  <%# quando tiver feito os métodos de reputação colocar aqui %>
  <h2 class="text-center"> <%= @institution.name %> </h2>
  <div class="card p-4 mt-5">
    <p class="text-justify"> <%= @institution.description %> </p>
  </div>

  
</div>