.card-img {
  height: 200px;
  width: 280px;
  object-fit: cover;
}

.card-campaign {
  min-height: 400px;
}

.card-show-img {
  height: 100%;
  width: 100%;
  min-width: 25vw;
  max-width: 33vw;
  object-fit: contain;
  flex-grow: 1;
}
