<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 p-3">
        <%= image_tag('sos-donations-logo.png', style: "width:90px;") %>
      </div>
      <div class="footer-info col-sm-12 col-md-6 col-lg-4 p-3">
        <span class="my-5">Copyright 2021 Capybaras Enterprise</span>
        <br>
        <span class="mt-5">Ladeira da Glória 26, Rio de Janeiro</span>
      </div>
      <div class="footer-info col-sm-12 col-md-6 col-lg-2 p-3">
        <span>Contact us</span>
        <br>
        <span>Work with us</span>
      </div>
      <div class="footer-links col-sm-12 col-md-6 col-lg-2 p-3">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
